# OS dependent
## mac
.DS_Store
.DS_Store?
Thumbs.db
## Linux
.Trashes


# PL dependent (not recommended)
__pycache__
.ipynb_checkpoints
*.__pycache__


# heavy files (usually don't upload them to git)
*.h5
*.hdf5
*.sql
*.sqlite
*.db


# frequently override
*.log


# insurance
kaggle.json